:root {
  --size-wheel: 25rem;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.msg {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #000;
}

ul {
  position: relative;
  padding: 0;
  margin: 1rem 0;
  width: var(--size-wheel);
  height: var(--size-wheel);
  border: 10px solid rgb(0, 12, 184);
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  transition: cubic-bezier(0.075, 0.8, 0.2, 1) 7s;
}

@media (min-width: 1024px) {
  :root {
    --size-wheel: 25rem;
  }

  ul {
    width: var(--size-wheel);
    height: var(--size-wheel);
  }

  .text {
    font-size: 16px;
  }

  .wrap_wheel {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
  }
  .wrap_wheel::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 50%;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 4rem solid rgb(255, 217, 0);
    z-index: 2;
    transform: translateX(-50%);
    animation: arrow ease-out 0.6s infinite;
  }

  .wrap_notification {
    width: 500px;
    height: 214px;
    background-color: transparent;
  }

  .popup {
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transform: translateY(-20px); /* Bắt đầu ở vị trí cao hơn */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng chuyển tiếp */
    width: 100%;
    color: #000;
  }

  .yes_or_no {
    font-size: 22px;
  }
}

@media (min-width: 736px) and (max-width: 1023px) {
  :root {
    --size-wheel: 16rem;
  }

  ul {
    width: var(--size-wheel);
    height: var(--size-wheel);
  }

  .text {
    font-size: 12px;
  }

  .wrap_wheel {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
  }
  .wrap_wheel::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 50%;
    border-left: 1rem solid transparent !important;
    border-right: 1rem solid transparent !important;
    border-top: 2rem solid rgb(255, 217, 0) !important;
    z-index: 2;
    transform: translateX(-50%);
    animation: arrow ease-out 0.6s infinite;
  }
  .typing-container {
    width: 800px;
  }

  .msg {
    margin: 0;
  }
  .popup {
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 300px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transform: translateY(-20px); /* Bắt đầu ở vị trí cao hơn */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng chuyển tiếp */
    width: 100%;
    /* height: 100%; */
    color: #000;
    /* line-height: 40px; */
  }

  .btn--wheel {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 142px;
    font-size: 16px;
    padding: 0;
  }
}

@media (min-width: 500px) and (max-width: 735px) {
  :root {
    --size-wheel: 16rem;
  }

  ul {
    width: var(--size-wheel);
    height: var(--size-wheel);
  }

  .text {
    font-size: 12px;
  }

  .wrap_wheel {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
  }
  .wrap_wheel::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 50%;
    border-left: 1rem solid transparent !important;
    border-right: 1rem solid transparent !important;
    border-top: 2rem solid rgb(255, 217, 0) !important;
    z-index: 2;
    transform: translateX(-50%);
    animation: arrow ease-out 0.6s infinite;
  }

  .msg {
    margin: 0;
  }
  .popup {
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 300px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transform: translateY(-20px); /* Bắt đầu ở vị trí cao hơn */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng chuyển tiếp */
    width: 100%;
    /* height: 100%; */
    color: #000;
    /* line-height: 40px; */
  }

  .btn--wheel {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 134px;
    font-size: 12px;
    padding: 0;
  }
}

span {
  display: inline-block;
  position: relative;
  padding: 0.5rem;
}

@keyframes arrow {
  0% {
    top: -2rem;
  }
  80% {
    top: 0;
  }
  100% {
    top: -1.5rem;
  }
}

.wrap_wheel::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  display: block;
  text-align: center;
  padding-top: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.text > b {
  display: inline-block;
  word-break: break-word;
  max-width: 20%;
}

.text-1 {
  background-color: rgb(0, 89, 255);
}

.text-2 {
  background-color: rgb(126, 182, 255);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  display: inline-block;
  text-align: center;
  border: 0;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
  width: auto;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.wrap_msg {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.1);
}

.popup.show {
  opacity: 1; /* Độ mờ khi hiển thị */
  transform: translateY(0); /* Vị trí ban đầu */
}
.popup h1 {
  color: #d32f2f; /* Màu đỏ cho không khí Tết */
  /* margin: 0 0 10px; */
}
.popup h1,
.popup p {
  margin: 0 0 20px;
}
.close-btn {
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  /* padding: 10px 15px; */
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}
.close-btn:hover {
  background: #c62828;
}

@media (max-width: 500px) {
  .no_width {
    color: #fff;
    display: flex;
    background-color: #000;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #container {
    display: none !important;
  }

  #wrap_input {
    display: none !important;
  }

  .main {
    display: none;
  }
}

@media (min-width: 736px) and (max-width: 1023px) {
  .no_width {
    display: none;
  }

  #ramdom_lx {
    display: flex;
  }

  #wrap_input {
    display: flex;
  }

  .head_canvas {
    line-height: 100px;
    font-size: 20px;
    padding-top: 14px;
    width: 100%;
  }

  #typing-text {
    width: 92%;
    font-size: 16px;
    padding: 0 10px;
  }

  .yes_or_no {
    font-size: 16px;
  }

  .wrap_btn > button {
    font-size: 16px;
  }

  .close-btn {
    font-size: 15px;
    margin-top: 5px;
  }

  .msg {
    font-size: 16px;
  }

  .popup {
    padding: 10px;
  }

  .wrap_notification {
    width: 300px;
    height: 150px;
    top: -26px;
  }
}

@media (min-width: 500px) and (max-width: 735px) {
  .no_width {
    display: none;
  }
  #name_ramdom {
    display: none;
  }

  #ramdom_lx {
    display: flex;
  }

  #wrap_input {
    display: flex;
  }

  .head_canvas {
    line-height: 100px;
    font-size: 20px;
    padding-top: 14px;
    width: 100%;
  }

  #typing-text {
    width: 100%;
    font-size: 12px;
    padding: 0 10px;
  }

  .yes_or_no {
    font-size: 16px;
  }

  .wrap_btn > button {
    font-size: 12px;
  }

  .close-btn {
    font-size: 15px;
    margin-top: 5px;
  }

  .msg {
    font-size: 16px;
  }

  .popup {
    padding: 10px;
  }

  .wrap_notification {
    width: 300px;
    height: 150px;
    top: -30px;
  }
}

* {
  position: relative;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
html,
body {
  height: 100%;
}

html {
  background-color: #000;
}

body {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.25;
  letter-spacing: 0.06em;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.remove {
  display: none !important;
}

.blur {
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

.container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.head_canvas {
  text-align: center;
  line-height: 300px;
  font-family: "Potta One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.loading-init {
  width: 100%;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.loading-init__header {
  font-size: 2.2em;
}
.loading-init__status {
  margin-top: 1em;
  font-size: 0.8em;
  opacity: 0.75;
}

.stage-container {
  overflow: hidden;
  box-sizing: initial;
  border: 1px solid #222;
  margin: -1px;
}
@media (max-width: 840px) {
  .stage-container {
    border: none;
    margin: 0;
  }
}

.canvas-container {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.canvas-container canvas {
  position: absolute;
  mix-blend-mode: lighten;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
@media (min-width: 840px) {
  .controls {
    visibility: visible;
  }
  .controls.hide:hover {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.42);
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.menu__inner-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.menu__header {
  margin-top: auto;
  margin-bottom: 8px;
  padding-top: 16px;
  font-size: 2em;
  text-transform: uppercase;
}
.menu__subheader {
  margin-bottom: auto;
  padding-bottom: 12px;
  font-size: 0.86em;
  opacity: 0.8;
}
.menu form {
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.menu .form-option {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 16px 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.menu .form-option label {
  display: block;
  width: 50%;
  padding-right: 12px;
  text-align: right;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu .form-option--select select {
  display: block;
  width: 50%;
  height: 30px;
  font-size: 1rem;
  font-family: "Russo One", arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.menu .form-option--select select option {
  background-color: black;
}
.menu .form-option--checkbox input {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  opacity: 0.5;
}
@media (max-width: 840px) {
  .menu .form-option select,
  .menu .form-option input {
    outline: none;
  }
}

.close-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.btn {
  opacity: 0.16;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.btn--bright {
  opacity: 0.5;
}
@media (min-width: 840px) {
  .btn:hover {
    opacity: 0.32;
  }
  .btn--bright:hover {
    opacity: 0.75;
  }
}
.btn svg {
  display: block;
  margin: auto;
}

.credits {
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 6px;
  font-size: 0.8em;
  opacity: 0.75;
}
.credits a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.credits a:hover,
.credits a:active {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}

.help-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.help-modal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.help-modal__dialog {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 400px;
  max-height: calc(100vh - 100px);
  margin: 10px;
  padding: 20px;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
@media (min-width: 840px) {
  .help-modal__dialog {
    font-size: 1.25rem;
    max-width: 500px;
  }
}
.help-modal__header {
  font-size: 1.75em;
  text-transform: uppercase;
  text-align: center;
}
.help-modal__body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}
.help-modal__close-btn {
  flex-shrink: 0;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 0.25em 0.75em;
  margin-top: 0.36em;
  font-family: "Russo One", arial, sans-serif;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.help-modal__close-btn:hover,
.help-modal__close-btn:active,
.help-modal__close-btn:focus {
  color: #fff;
  background-color: #09f;
}
.help-modal.active {
  visibility: visible;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.help-modal.active .help-modal__overlay {
  opacity: 1;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.help-modal.active .help-modal__dialog {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* .dp_none {
    display: none;
  } */

#wrap_input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input_name {
  width: 300px;
  padding: 10px;
  background-color: #ccc;
  outline: none;
  border: 1px solid #fff;
}

.next_container {
  width: 60px;
}

.typing-container {
  /* border-right: 2px solid white; Đường gạch đứng */
  /* white-space: nowrap; Không chuyển dòng */
  overflow: hidden; /* Ẩn phần văn bản bị tràn */
  animation: caret 0.75s step-end infinite;
}

.typing-container,
#typing-text {
  font-size: 22px;
  text-align: center;
  width: 1616px;
  margin: 0 auto;
}

@keyframes caret {
  50% {
    border-color: transparent; /* Ẩn con trỏ */
  }
}

.no_width {
  display: none;
}

#wrap_content_no {
  display: none;
  text-align: center;
  margin: 10px 0;
}
